.footer {
    background-color: #212121;
    width: 100%;
    height: 250px;
}

.footer-bottom {
  height: 50px;
  width: 100%;
  background-color: #a51c30;
  display: table;
  text-align: center;
}

.footer-bottom :first-child {
  display: table-cell;
  vertical-align: middle;
  color: whitesmoke;
}

h5 {
  text-transform: uppercase;
  color: aliceblue;
}