.footer {
    background-color: #3a3a40;
    width: 100%;
}

.footer-bottom {
  height: 100px;
  width: 100%;
  background-color: black;
  margin-bottom: 0;
}

h5 {
  text-transform: uppercase;
  color: aliceblue;
}