<section>
  <div class="owl-carousel">
    <div class="item">
      <h2>Swipe</h2>
    </div>
    <div class="item">
      <h2>Drag</h2>
    </div>
    <div class="item">
      <h2>Responsive</h2>
    </div>
    <div class="item">
      <h2>CSS3</h2>
    </div>
    <div class="item">
      <h2>Fast</h2>
    </div>
    <div class="item">
      <h2>Easy</h2>
    </div>
    <div class="item">
      <h2>Free</h2>
    </div>
    <div class="item">
      <h2>Upgradable</h2>
    </div>
    <div class="item">
      <h2>Tons of options</h2>
    </div>
    <div class="item">
      <h2>Infinity</h2>
    </div>
    <div class="item">
      <h2>Auto Width</h2>
    </div>
  </div>
</section>
