<div class="slider multiple-items slick-initialized slick-slider slick-dotted" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
  <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2805px; transform: translate3d(-561px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 187px;" tabindex="-1">
    <h3>7</h3>
  </div><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 187px;" tabindex="-1">
    <h3>8</h3>
  </div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 187px;" tabindex="-1">
    <h3>9</h3>
  </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
    <h3>1</h3>
  </div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
    <h3>2</h3>
  </div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide12">
    <h3>3</h3>
  </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide13">
    <h3>4</h3>
  </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide14">
    <h3>5</h3>
  </div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide15">
    <h3>6</h3>
  </div><div class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide16">
    <h3>7</h3>
  </div><div class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide17">
    <h3>8</h3>
  </div><div class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 187px;" tabindex="-1" role="option" aria-describedby="slick-slide18">
    <h3>9</h3>
  </div><div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 187px;" tabindex="-1">
    <h3>1</h3>
  </div><div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 187px;" tabindex="-1">
    <h3>2</h3>
  </div><div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 187px;" tabindex="-1">
    <h3>3</h3>
  </div></div></div>
