.section-card{
    background-color: #212121;
    /* border: 1px solid red; */
}

h1{
    color: white;
}

p {
    color: whitesmoke;
}

.shape {
    position: absolute;
    bottom: 1;
    left: 0;
    border: 0;
}