<section class="py-5 section-card">
  <div class="container">
    <h1>Faculty of Applied Sciences</h1>
    <p class="lead">What the hell we're doing?.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>

  <svg style="padding-bottom:0%" viewBox="0 0 1280 70" preserveAspectRatio="none" id="headerCurve" fill="blue" role="presentation" aria-hidden="true">
    <polygon points="1280 0 1280 70 0 70" fill="rgb(255,255,255)"></polygon>
  </svg>
</section>