<div class="shape-container">
  <div class="shape">
    <svg viewBox="0 0 1280 70" preserveAspectRatio="none" id="headerCurve" fill="blue" role="presentation" aria-hidden="true">
      <polygon points="1280 0 1280 70 0 70" fill="rgb(255,255,255)"></polygon>
    </svg>
  </div>
</div>

<section class="py-5 project-section">
  <div class="container">
    <h2 class="uk-heading-line uk-text-center">Our Student Work</h2>

    <!-- Cards -->
    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="images/light.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Media Top</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Media Bottom</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-media-bottom">
                  <img src="images/light.jpg" alt="">
              </div>
          </div>
      </div>
    </div>
    <!-- End Cards -->

  </div>
</section>
