.project-section {
    width: 100%;
    /* height: 100px; */
}

.shape {
    /* position: absolute;
    bottom: 0;
    left: 0;
    border: 0; */
    margin-bottom: 0;
}

.shape-container {
    bottom: 0;
    background-color: #212121;
}

h2{
    text-transform: uppercase;
}

.uk-heading-line {
    text-shadow: 2px 2px;
}